.home1body{
    height: 200vh;
    width: 100%;
    background-color: #1F1F20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.element1{
    height: 800px;
    width: 500px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background-color: #867EFE;
    opacity: 0.4;
    filter: blur(150px);
    position: absolute;
    
}
.bgimg{
    position: relative;
    top:23%;
    z-index: 2;
}
.heading{
    margin: 30px;
    display: flex;
    position: relative;
    top: -70%;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: transparent; 
    z-index: 5;  
}
h2{
    margin: 0;
    background: linear-gradient(45deg,#FFFFFF,#6B61FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.lowerheading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -65%;
}
p{
    color: #D2D2D2
}
.btn{
   background-color: #6B61FF; 
   color: #D2D2D2 ;
   font-size: 3vh;
   height: 7vh;
   width: 250px;
   border-radius: 24px;
   border : none;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.databoxs{
    height: 35vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: -30%;
    z-index: 2;
}

.box{
    height: 30vh;
    width: 40%;
    background-color: #FFFFFF;
    border-radius: 24px;
    overflow: hidden;
}
.starelement{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.element2{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    position: relative;
    left: 35%;
    top: 15%;
    background-color: #6B61FF;
    filter: blur(70px);
    
}



