.home2body{
    height: 200vh;
    width: 100%;
    background-color: #2A2A2B;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.headline{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headline h1{
    margin: 0;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 36px;
    font-style: normal;
    background: linear-gradient(60deg,#FFFFFF,#999999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.lowerheadline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lowerheadline p{
    color: #D2D2D2;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}

.databox2{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box1{
    height: 95%;
    width: 27%;
    background-color: #6B61FF;
    border-radius: 30px;
    overflow: hidden;
    transition: transform 0.2s;

}
.box1:hover{
    transform: scale(1.12);
}

.box1 h1{
    color: #EDF0FF;
    position: relative;
    left: 5%;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 32px;
    font-style: normal;
}
.databox2 .box1 p{

    color: #EDF0FF;
    position: relative;
    left: 5%;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}
.btn1{
    width: 30%;
    height: 17%;
    border-radius: 24px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 62%;
    top: 20%;
}
.box2{
    height: 95%;
    width: 27%;
    background-color: #FE9BF3;
    border-radius: 30px;
    overflow: hidden;
    transition: transform 0.2s;
}
.box2 h1{
    position: relative;
    left: 5%;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 32px;
    font-style: normal;
}
.databox2 .box2 p{

    color: #1E1E1E;
    position: relative;
    left: 5%;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}
.box2:hover{
    transform: scale(1.12);
}


.btn2{
    width: 25%;
    height: 10%;
    border-radius: 24px;
    border: 5px solid #FFC4F8 ;
    background-color: #7A186F;
    color: #FFC4F8;
    position: relative;
    left: 70%;
    top: 10%;
    rotate: -20deg;
}
.box3{
    height: 95%;
    width: 27%;
    background-color: #ADFFE4;
    border-radius: 30px;
    overflow: hidden;
    transition: transform 0.2s;
}
.box3:hover{
    transform: scale(1.15);
}
.box3 h1{
    position: relative;
    left: 5%;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 32px;
    font-style: normal;
}
.databox2 .box3 p{

    color: #1E1E1E;
    position: relative;
    left: 5%;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}

.btn3{
    width: 25%;
    height: 10%;
    border-radius: 24px;
    border: 5px solid #6DFFCF ;
    background-color: #0A9B6B;
    color: #6DFFCF;
    position: relative;
    left: 70%;
    top: 15%;
    rotate: -20deg;
}
